<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail</title>
</head>
<body>
    <h1>Course ID: {{CourseID}}</h1>
    <h1>Course Name: {{CourseName}}</h1>
    <h1>Year: {{CourseYear}}</h1>
    <h1>Semester: {{CourseSemester}}</h1>
    <h1>Chair: {{CourseChair}}</h1>
    <h1>Available Chair: {{CourseChair}}</h1>
    <h1>Quota status: {% if quotaAvailable %}open{% else %}closed{% endif %}</h1>
</body>
</html>